body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
  background: #111;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#controls {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  max-width: 90vw;
}

#controls label {
  display: block;
  margin-bottom: 10px;
}

#controls input{
  width: 80px;
  margin-left: 5px;
  font-size: 16px;
}

@media (max-width: 600px) {
  #controls {
    font-size: 18px;
    padding: 20px;
  }

  #controls input {
    width: 200px;
    font-size: 18px;
  }
}
